@use "../../SCSS/" as *;

h2 {
  margin: 3rem 0;
}

.slider-wrapper {
  text-align: center;
  position: relative;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform .5s ease;

  .slider {
    margin: 2rem 0;
    position: relative;
    flex: 0 0 100%;
    background: $very-light-gray;

    .the-image {
      position: absolute;
      top: -7rem;
      left: 50%;
      transform: translate(-50%, 50%);

      img {
        width: 75%;
      }
    }

    .name {
      text-align: center;
      margin: 1rem 0;
      padding: 5rem 0 0 0;
    }

    .comment {
      text-align: center;
      padding: 1.5rem 1rem;
      margin: 0.5rem 0;
      color: $dark-grayish-blue;
    }
  }
}

@media (min-width: 835px) {
  .slider-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: visible;
  }
  
  .slider-container {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: space-between;
    width: 40%;
    .slider {
      margin: 1rem;
    }
  }
}
