@use "../../SCSS/" as *;

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem .75rem;
    margin-top: 1rem;
    position: relative;

    .navbar-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        margin-top: 2rem;
        border-radius: .5rem;
        position: absolute;
        top: 70%;
        left: 5%;
        transform: translate(-50%);
        transform: scaleY(0);
        transform-origin: top;
        overflow: hidden;
        transition: 150ms ease-out;
        width: 90%;
        background-color: $very-light-gray;

        li {
            padding: 1rem;
            
            a {
                text-decoration: none;
                color: $very-dark-blue;
                font-weight: 500;
            }

            a:hover {
                transition: 150ms ease-in;
                color: $dark-grayish-blue;
            }
        }
    }

    .navbar-items.active {
        transform: scaleY(1);
        transition: 150ms ease-in;        
    }

    @media (min-width: 835px) {
        .navbar-items {
            transform: scale(1);
        }
    }

    .btn-start {
        display: none;
    }

    .toggle-menu {
        border: none;
        background: transparent;
        cursor: pointer;
    }

    @media (min-width: 835px)  {
        .navbar-items {
            background-color: white;
        }
        .navbar-items, .btn-start {
            display: flex;
        }

        .navbar-items {
            flex-direction: row;
            position: unset;
            padding: 0;
            margin-top: 0rem;
            width: auto;

            li {
                padding: 1rem; 
               
            }
        }

        .toggle-menu {
            display: none;
        }
    }
    
}
