@use "./assets/SCSS/" as *;

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: $vietnam;
  font-size: 1rem;
  background-color: $very-light-gray;
}

button {
  cursor: pointer;
}

.container {
    width: min(100% - 0.5rem, 375px);
    margin: 0 auto;
    transition: 250ms ease-in-out;
}

// Tablet size 1440px
@media (min-width: 835px) {
    .container {
      width: min(100% - 0.5rem, 1440px);
      margin: 0 auto;
      transition: 250ms ease-in-out;
    }
}